<!DOCTYPE html>
<html>

<head>
  <title>
    TodoList-PWA-JS
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
  <link rel="stylesheet" href="./src/index.css" />
</head>

<body>
  <!-- quasar:entry-point -->
  <div id="map" class="map" style="height: 700px;padding: 10px, 12px;"></div>
</body>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
<script>
  // var map = L.map('map').setView([28.2380, 83.9956], 11);
  // mapLink = "<a href='http://openstreetmap.org'>OpenStreetMap</a>";
  // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'Leaflet &copy; ' + mapLink + ', contribution', maxZoom: 18 }).addTo(map);

  // var taxiIcon = L.icon({
  //   iconUrl: 'img/taxi.png',
  //   iconSize: [70, 70]
  // })

  // var marker = L.marker([28.2380, 83.9956], { icon: taxiIcon }).addTo(map);

  // map.on('click', function (e) {
  //   console.log(e)
  //   var newMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
  //   L.Routing.control({
  //     waypoints: [
  //       L.latLng(28.2380, 83.9956),
  //       L.latLng(e.latlng.lat, e.latlng.lng)
  //     ]
  //   }).on('routesfound', function (e) {
  //     var routes = e.routes;
  //     console.log(routes);

  //     e.routes[0].coordinates.forEach(function (coord, index) {
  //       setTimeout(function () {
  //         marker.setLatLng([coord.lat, coord.lng]);
  //       }, 100 * index)
  //     })

  //   }).addTo(map);
  // });


</script>
<script src="./src/Control.Geocoder.js"></script>
<script src="./src/config.js"></script>
<script type="module" src="./src/paradas.js"> </script>
<script type="module" src="./src/main.js"> </script>


</html>
